$gray: #ededed;
$border: #ced4da;
$white: #ffffff;
$green: #06874e;
$black: #212529;
$fontTitle: 1.8rem;
$fontText: 1.25rem;
@import "Checkbox";
@import "Button";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.login {
  background-color: $gray;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    background-color: #ffffff;
    width: 25rem;
    height: auto;
    border-top: 2px solid $green;
    &--form {
      padding: 1rem 1.8rem 1.8rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      &--links {
        display: flex;
        flex-flow: column;
        align-items: center;
        & > p {
          font-size: $fontText;
        }
        &--forgotPsw,
        &--signIn,
        &--reSend {
          text-decoration: underline;
          font-size: $fontText;
          font-weight: bold;
          color: $black;
        }
      }
      &--content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        &--input,
        .button {
          height: 3rem;
          width: 21.25rem;
          border: 1px solid $border;
          margin-bottom: 1.5rem;
        }
        &--title {
          font-size: $fontTitle;
          font-weight: bold;
          padding: 0;

          &2 {
            font-size: $fontText;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
